/target/
*.log
*.class
*.jar
*.war
*.iml
.gradle/
/build/
/out/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.mvn/wrapper/maven-wrapper.properties
dependency-reduced-pom.xml

/dist/
/node_modules/
/.angular/
/coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
/*.iml
/.idea/workspace.xml
/.idea/libraries/
/.shelf/


.vscode/
.history/

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
